params {
  input = "$baseDir/data/test.fa"
  outputDir = "$launchDir/output"
  fastaSubsetSize = 1
  appls = "gene3d,smart"
  outputFile = "iprscan_out.tsv"
}
process {
  container = 'veupathdb/iprscan5'
}
docker {
    enabled = true
    runOptions = "-v /home/rdemko/workspace/djob/Iprscan5/data/downloadedData:/opt/interproscan/data"
}