params {
  input = "$baseDir/data/test.fa"
  outputDir = "$launchDir/output"
  fastaSubsetSize = 10000
  appls = "gene3d"
  outputFile = "iprscan_out.tsv"
}
process {
  container = 'veupathdb/iprscan5'
}
docker {
    enabled = true
    runOptions = "-v $baseDir/data/downloadedData:/opt/interproscan/data"
}