params {
  seqFile = "$baseDir/data/testzip.fasta.gz"
  dataFile = "blastSimilarity.out"
  logFile = "blastSimilarity.log"
  outputDir = "$launchDir/output"
  fastaSubsetSize = 1
  applParams = ""
  seqType = ""
  trlen = ""
  crc = "-crc"
}
process {
  container = 'interpro/interproscan:5.51-85.0'
}
docker {
    enabled = true
}